jour_1/Jour_1_synthese.json
{
  "name": "Jour_1_synthese",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "e9336ae5-96e3-4b46-b23f-0c20c452da12",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f709e941-77a1-47f0-a657-a89d9ddbe5a6",
              "name": "city",
              "value": "Montpellier",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "3b2171cc-53e9-406b-b7bd-c289c7868135",
      "name": "init"
    },
    {
      "parameters": {
        "url": "=https://api.open-meteo.com/v1/forecast?latitude={{ $json.results[0].latitude }}&longitude={{ $json.results[0].longitude }}&current_weather=true",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        608,
        -16
      ],
      "id": "3153a131-7801-4a9f-a82d-723565599703",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"temperature\" : \"{{ $json.current_weather.temperature }}\",\n\"vitesse_vent\" : \"{{ $json.current_weather.windspeed }}\",\n\"code_meteo\" : \"{{ $json.current_weather.weathercode }}\",\n\"heure_releve\" : \"{{ $json.current_weather.time.toDateTime().toLocaleString({dateStyle: 'medium', timeStyle: 'short'}) }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        -16
      ],
      "id": "7d3ab026-d400-4c81-b144-780534e91abf",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "const weatherCodes = { 0: \"Ciel dégagé\", 1: \"Principalement dégagé\", 2:\n\"Ciel Partiellement nuageux\", 3: \"Ciel Couvert\", 45: \"Brouillard\", 51: \"Bruine légère\",\n61: \"Pluie légère\", 63: \"Pluie modérée\", 65: \"Pluie forte\", 71: \"Neige légère\", 95: \"Orage\" }; \nconst ville = $('init').first().json.city\nconst data = $input.first().json; \nconst description =\nweatherCodes[data.code_meteo] || \"Conditions inconnues\";\n\nreturn { json: {\nville, temperature: `${data.temperature}°C`, date:\ndata.heure_releve, message: `À ${ville}, il fait ${data.temperature}°C avec ${description.toLowerCase()}.`, citation: `${data.content}\\n de ${data.author}` } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        -32
      ],
      "id": "437e6c04-a374-44a1-bac3-99e01810e65c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "=https://geocoding-api.open-meteo.com/v1/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "=name",
              "value": "={{ $json.city }}"
            },
            {
              "name": "countryCode",
              "value": "=FR"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        432,
        -16
      ],
      "id": "443bf9a2-b09c-41da-8af9-257e2b340722",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "http://api.quotable.io/quotes/random",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        560,
        -208
      ],
      "id": "0bddecce-3bae-477d-960f-c5d8465c7b2e",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1072,
        -32
      ],
      "id": "c8fdc49a-9c6e-4139-a6ca-7820526f6ae8",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "init",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "init": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c3e18203-30b5-41c5-8226-6863b925b9fa",
  "meta": {
    "instanceId": "01e07e97899009d3df9d9b849c14666aa7b0dd9ff78531db274b907b1e7362a1"
  },
  "id": "mrmkxjfscx8rD3vM",
  "tags": []
}