jour_1/TP3_Webhook_Inscription.json
{
  "name": "TP3_Webhook_Inscription",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inscription-etudiant",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "e5d39ea4-fe86-4dbd-b6ab-500586c24ced",
      "name": "Webhook",
      "webhookId": "480261cb-65f6-46a6-97b1-ab11b2a37007"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n\"nom\" : \"{{ $json.body.nom }}\",\n\"prenom\" : \"{{ $json.body.prenom }}\",\n\"email\" : \"{{ $json.body.email }}\",\n\"formation\" : \"{{ $json.body.formation }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "a4b1b0e2-eeff-4b5e-9607-07c80e8a38d8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f98e360e-d8e3-4250-8df4-8614e96c6d13",
              "leftValue": "={{ $json.email  }}",
              "rightValue": "@",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "ecaa466e-32c9-4d17-8768-8e43512aff84",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"erreur\" ,\n  \"message\": \"Email invalide\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        96
      ],
      "id": "599f725e-5731-4e13-bc0f-103d7456f2f3",
      "name": "Error Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"valide\" ,\n  \"message\": \"Inscription enregistrée\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        -96
      ],
      "id": "5e0e95a3-fb3a-426c-a419-fd83bf9e87e5",
      "name": "Success Response"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e1d3cfcf-42be-4918-a3f0-c4112e8c75dc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "01e07e97899009d3df9d9b849c14666aa7b0dd9ff78531db274b907b1e7362a1"
  },
  "id": "r9WydUxQufJva78B",
  "tags": []
}